* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F1F1F1;
    font-size: 14px;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .6);
    line-height: 1.523;
    font-weight: 400;
}

.sidebar,
.card,
.groups {
    margin: 0 18px;
}

a, a:visited {
    color: rgba(0, 0, 0, .67);
    text-decoration: none;
}

.top-bar {
    padding: 0 18px;
    height: 96px;
    width: 100%;
    background: #2C3E50;
}

.top-bar h1 {
    font-size: 24px;
    color: #FFFFFF;
    padding: 9px 0;
    text-align: center;
    font-weight: 400;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-bar a,
.nav-bar a:visited {
    color: rgba(255, 255, 2585, 0.67);
}

.nav-bar li .active {
    color: rgba(255, 255, 2585, 1);
}

.sidebar li {
    width: 50%;
    height: 26px;
    list-style: none;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.sidebar .active {
    border: solid 1px #DBDBDB;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: 700;
}

.sidebar .active a {
    color: rgb(0, 0, 0);
}

.sidebar ul {
    padding: 13px 0;
    height: 104px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.sidebar ul li img {
    margin: 0 25px 0 9px;
}

.card article {
    border: solid 1px #DBDBDB;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color:rgb(0, 0, 0);
}

.card header {
    height: 85px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.card header p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
}

.card header img {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin-right: 8px;
}

.image {
    overflow: hidden;
}

.text {
    padding: 16px 8px;
}

.card footer {
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #DBDBDB;
    background-color: #FBFBFB;
}

.card footer div {
    display: flex;
    padding: 0 8px;
    font-size: 12px;
    color: #BDBDBD;
}

.card footer div p {
    padding-left: 5px;
}

.groups-card {
    display: none;
}

h3 {
    font-size: 15px;
    color: rgb(0, 0, 0, 0.87);
}

hr {
    border-top: solid 1px #000000;
    margin-bottom: 18px;
}

.suggestion-rect {
    height: 73px;
    width: 88px;
    background-color: #C4C4C4;
}

.suggestion-photo {
    display: flex;
    margin-bottom: 14px;
}

.suggestion-name {
    margin-left: 13px;
}

.suggestion-name p:nth-child(1) {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
}

.suggestion-name p:nth-child(2) {
    color: rgb(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: 400;
}

.suggestion-name img {
    padding-right: 7px;
}

.suggestion-name div {
    display: flex;
    align-items: center;
}

.suggestion-name p:nth-last-child(1) {
    font-size: 12px;
    color: #000000;
}

@media screen and (min-width: 414px) {
    .card {
        max-width: 500px;
        margin: auto;
        padding: 0 18px;
    }
    .suggestion {
        width: 462px;
        margin: auto;
    }
    .sidebar {
        width: 462px;
        margin: auto;
    }
}

@media screen and (min-width: 1035px) {
    .top-bar {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-bar h1 {
        margin-right: 610px;
    }
    .nav-bar ul {
        width: 372px;
        justify-content: space-between;
    }
    .container {
        max-width: 1086px;
        margin: 21px auto;
        display: flex;
        justify-content: center;
    }
    .article {
        margin: 0 30px;
        padding: 0;
    }
    .sidebar {
        margin: 0;
        width: 180px;
        padding: 0;
    }
    .sidebar ul {
        height: 170px;
        max-width: 180px;
    }
    .sidebar li {
        width: 100%;
    }
    .groups {
        margin-left: 0;
    }
    .groups-card {
        display: block;
        max-width: 310px;
        border: solid 1px #DBDBDB;
        border-radius: 5px;
        background-color: #FFFFFF;
        margin-bottom: 20px;
    }
    .suggestion {
        max-width: 310px;
    }
    h2 {
        font-size: 18px;
        font-weight: 700;
        color: black;
    }
    .groups-card header {
        height: 85px;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }
    .groups-card header p {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.38);
    }
    .groups-card header img {
        width: 45px;
        height: 45px;
        border-radius: 25px;
        margin-right: 8px;
    }
    .text {
        padding-top: 0;
    }
}
